// Typography

$primary-font: 'Muli', sans-serif;
$title-font: 'Montserrat', sans-serif;
$light: 300;
$regular: 400;
$bold: 700;
$letter-spacing: 0.03rem;
$letter-spacing-2x: 0.06rem;
$letter-spacing-big: 0.1rem;

// Color Palette

$primary: #f1aa09;
$primary-hover: #c48904;
$primary-transparent: rgba(241,170,9,0.9);
$primary-transparent-2: rgba(241,170,9,0.75);
$secondary: #eeefef;
$secondary-hover: #c8c9c9;
$success: #6ec92b;
$success-hover: #5aa721;
$info: #00a9f4;
$info-hover: #1885c5;
$warning: #ff7c07;
$warning-hover: #e06d06;
$danger: #e41b1b;
$danger-hover: #bf1212;
$title-color: #555;
$text-color: #666;
$light-bg-color: #f7f7f7;
$dark-bg-color: #222;
$body-bg: #fefefe;
$dark-body-bg: #111;
$white: #fff;
$light-grey: #eee;
$grey: #aaa;
$mid-grey: #777;
$dark-grey: #333;
$deep-grey: #222;
$inverse-color: #111;
$black: #000;

// Social Colors

$facebook: #4e68a1;
$facebook-hover: #3b4f7a;
$twitter: #65b5f2;
$twitter-hover: #5294c6;
$google: #e05d4b;
$google-hover: #b94c3d;
$linkedin: #2083bc;
$linkedin-hover: #186592;
$pinterest: #d2373b;
$pinterest-hover: #ad2c2f;
$dribbble: #ec5f94;
$dribbble-hover: #b4446e;
$instagram: #4c5fd7;
$instagram-hover: #4252ba;
$youtube: #e52d27;
$youtube-hover: #b31217;